.num_display{
    width: 10%;
    height: 30px;
    background-color: grey; 
    float: left;
    margin: 10px;
}
.edge-border{
    border-radius: 0px;
}
#check-overlay {
    position: fixed; 
    display: none;  
    text-align: center;
    padding-top: 20%;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
}